@import url(./header/header.css);
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,500;0,600;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

main .about .about-next, main .about .about-list, .header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .hero button, .header nav button {
  border: none;
  border-radius: 5px;
  background: #C9453B;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 900px;
  background: url(../images/header-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header nav {
  padding: 40px 10%;
  justify-content: space-between;
}
.header nav .logo {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  font-family: "Gelasio", serif;
}
.header nav ul {
  display: flex;
}
.header nav ul li a {
  padding-left: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header nav ul li:hover {
  opacity: 0.7;
}
.header nav button {
  padding: 13px 35px;
}
.header nav .bar {
  color: #FFF;
  font-size: 20px;
  display: none;
}
.header .hero {
  padding: 0 10%;
}
.header .hero h1 {
  color: #FFF;
  padding-top: 200px;
  font-size: 65px;
  font-weight: 700;
  font-family: "Gelasio", serif;
  animation-delay: 0.7s;
}
.header .hero p {
  line-height: 160%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  margin-top: 30px;
  animation-delay: 1.5s;
}
.header .hero button {
  padding: 17px 46px;
  margin-top: 40px;
  animation-delay: 2s;
}
.header .hero .anim {
  opacity: 0;
  transform: translateY(50px);
  animation: moveup 0.5s linear forwards;
}

main {
  width: 100%;
}
main .locations {
  width: 100%;
  padding: 150px 0;
}
main .locations .title {
  font-size: 43px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 140%;
  text-align: center;
}
main .locations .subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
  line-height: 160%;
  text-align: center;
}
main .locations .location-content {
  display: flex;
  justify-content: center;
}
main .locations .location-content ul {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
main .locations .location-content ul li {
  width: 360px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  text-align: center;
}
main .locations .location-content ul li h4 {
  padding-top: 35px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 150%;
}
main .locations .location-content ul li p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
  opacity: 0.7;
  padding: 0 13px 33px 13px;
}
main .locations .location-content ul .location-item.active {
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}
main .about {
  width: 100%;
  text-align: center;
}
main .about .about-title {
  font-size: 43px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
}
main .about .about-subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
  margin-top: 20px;
}
main .about .about-list {
  margin: 60px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .about .about-list .about-item.active {
  opacity: 0.6;
}
main .about .about-list .about-item {
  width: 262px;
  text-align: start;
  margin-bottom: 20px;
}
main .about .about-list .about-item h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 150%;
  margin-top: 20px;
}
main .about .about-list .about-item .location-rank {
  display: flex;
  align-items: center;
  gap: 50px;
}
main .about .about-list .about-item .location-rank .location-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .about .about-list .about-item .location-rank .location-icon p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  opacity: 0.6;
}
main .about .about-list .about-item .location-rank .ranking {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .about .about-list .about-item .location-rank .ranking .ranking-text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  opacity: 0.6;
}
main .about .about-list .about-item .days {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #8a8a8a;
  margin-top: 8px;
}
main .about .about-list .about-item p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #8a8a8a;
  margin-top: 8px;
}
main .about .about-list .about-item span {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #000;
}
main .about .about-next {
  margin-top: 60px;
  gap: 50px;
}
main .blog {
  padding: 142px 0;
  text-align: center;
}
main .blog .title {
  font-size: 43px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 140%;
}
main .blog .subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
  line-height: 160%;
}
main .blog .blog-content {
  width: 100%;
  margin-top: 56px;
  display: flex;
  gap: 32px;
}
main .blog .blog-content .blog-left {
  width: 554px;
}
main .blog .blog-content .blog-left-info {
  margin-top: 35px;
  text-align: left;
}
main .blog .blog-content .blog-left-info h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 160%;
}
main .blog .blog-content .blog-left-info p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  opacity: 0.6;
  margin: 10px 0;
  line-height: 160%;
}
main .blog .blog-content .blog-right {
  display: grid;
  grid-template-columns: 528px;
  grid-area: 263px 263px 263px;
  gap: 30px;
}
main .blog .blog-content .blog-right .box {
  text-align: left;
  display: flex;
  gap: 27px;
}
main .blog .blog-content .blog-right .box-info h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Gelasio", serif;
  color: #000;
  line-height: 160%;
  padding-top: 32px;
}
main .blog .blog-content .blog-right .box-info p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  opacity: 0.6;
  margin: 10px 0;
  width: 243px;
}
main .blog .blog-content .blog-right .box-info h6 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000;
  opacity: 0.8;
  margin: 10px 0;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (min-width: 990px) and (max-width: 1300px) {
  .header {
    width: 100%;
  }
  .header nav button {
    display: none;
  }
  .header .hero {
    padding: 0 5%;
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .header {
    width: 100%;
    height: 700px;
  }
  .header nav ul li a {
    display: none;
  }
  .header nav button {
    display: none;
  }
  .header nav .bar {
    display: block;
  }
  .header .hero {
    text-align: center;
  }
  .header .hero h1 {
    padding-top: 10%;
    font-size: 60px;
  }
}
@media (min-width: 500px) and (max-width: 770px) {
  .header {
    width: 100%;
  }
  .header nav ul li a {
    display: none;
  }
  .header nav button {
    display: none;
  }
  .header nav .bar {
    display: block;
  }
  .header .hero {
    text-align: center;
  }
  .header .hero h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    height: 600px;
  }
  .header nav ul li a {
    display: none;
  }
  .header nav button {
    display: none;
  }
  .header nav .bar {
    display: block;
  }
  .header .hero {
    text-align: center;
  }
  .header .hero h1 {
    padding-top: 10%;
    font-size: 30px;
  }
  .header .hero p {
    font-size: 14px;
  }
  .header .hero button {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .locations .title {
    font-size: 30px;
  }
  .locations .subtitle {
    font-size: 15px;
  }
}
@media (max-width: 1320px) {
  .about {
    width: 100%;
  }
  .about .about-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */